<div class="row">
  <h2><%= @post_definition.name.pluralize %></h2>
  <% @posts.each do |post| %>
    <div class="col-sm-4">
      <div class="well">
        <h4 class="post-title">
        <%=  cms9_fields(post.field('Title')) %>
        <%=  cms9_field(post.field('Image')) %>
        <%=  cms9_fields(post.field('Content')) %>
        <%=  cms9_fields(post.field('Tags')) %>
      </div>
    </div>              
  <% end %>
</div>