<!DOCTYPE html>
<html>
  <head>
    <title>Cms9Demo</title>
    <%= csrf_meta_tags %>
      <%= favicon_link_tag 'images/cms9/favicon-16.png', type: 'image/png' %>
      <%= favicon_link_tag 'cms9/favicon-32.png', type: 'image/png' %>
      <%= favicon_link_tag 'cms9/favicon-64.png', type: 'image/png' %>
      <%= favicon_link_tag 'cms9/favicon-64.png', type: 'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
    	<div class="container">
    		<%= yield %>
    	</div>
    <%= render 'layouts/footer' %>
  </body>
</html>
